body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

header{
    background-color: #222;
    color: #fff;
    padding: 20px;
}

section{
    margin-top: 20px;
}
button{
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 10px 15px;
    cursor: pointer;
}
#status{
    font-weight: bold;
    margin-bottom: 15px;
}

footer{
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}