body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 20px;
}

header{
    background-color: #222;
    color: #fff;
    padding: 20px;
}

section{
    margin-top: 20px;
}

footer{
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 20px;
}